permissions:
  contents: read
on:
  push:
    branches: [master]
  pull_request:
name: test
jobs:
  required:
    runs-on: ubuntu-latest
    name: ubuntu / ${{ matrix.toolchain }}
    strategy:
      matrix:
        toolchain: [nightly]
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true
      - name: Install ${{ matrix.toolchain }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ matrix.toolchain }}
      - name: cargo generate-lockfile
        if: hashFiles('Cargo.lock') == ''
        run: cargo generate-lockfile
      - name: Cache mopac
        id: cache-mopac
        uses: actions/cache@v3
        with:
          path: |
            mopac/build/mopac
            mopac/build/libmopac.so.1
          key: ${{ runner.os }}-build-mopac
      - name: install mopac
        if: steps.cache-mopac.outputs.cache-hit != 'true'
        run: |
            sudo apt install -y python3 python3-numpy
            git clone https://github.com/openmopac/mopac.git
            cd mopac
            mkdir build
            cd build
            cmake ..
            make
      - name: copy over mopac
        run: |
            mkdir -p /opt/mopac
            cp mopac/build/mopac /opt/mopac/.
      # https://twitter.com/jonhoo/status/1571290371124260865
      - name: cargo test --locked
        run: cargo test --locked --all-features --all-targets -- --test-threads=1 --include-ignored
